body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 60px;
}
.name-color {
  color: #44f9ff;
}
.flexible-container {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width p {
  padding-right: 8%;
}
.half-width img {
  width: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}
.hire-me-link {
  text-decoration: none;
  background-color: orange;
  background-image: linear-gradient(blue, cyan);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.top-banner {
  background-image: url(developer-portfolio-master/images/back01.png);
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url(developer-portfolio-master/images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.last-sec-h1 {
  padding-left: 5%;
}
.xp {
  background-image: url(developer-portfolio-master/images/back03.png);
  background-repeat: no-repeat;
}

.xp-item {
  box-shadow: 10px 10px 40px gray;
  margin-right: 5%;
  margin-left: 5%;
  padding-left: 10px;
  border-radius: 10px;
  width: 40%;
  border-left: 10px solid;
}

#dev-one {
  border-left: 7px solid;
  border-image: linear-gradient(rgb(68, 68, 200), rgb(118, 138, 200));
  border-image-slice: 1;
}

#dev-two {
  order-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
footer p {
  text-align: center;
}
